.header {
  background-color: var(--purple-700);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.header img {
  height: 3rem;
}
.header strong {
  display: flex;
  align-items: center;
  justify-content: center;

 margin-left: 1.25rem;
 font-size: 1.5rem;
 font-weight: 800;
 color: var( --blue-100)

}
.header span {
  color: var(--blue-200);
}
